# Functions
* Functions are piece of code used to perform sprcific task.
* Functions can be called directly using its name.

ðŸ‘‰ Functions are like a hammer that you can use to drive a nail into a piece of wood. It doesn't matter what kind of wood it is or where the nail goes. You just use the hammer to do a general task.

# Functions
* print
* type
* len
* sum
* int
* float
* str
* list
* set
* tuple
* dict
* help
* input
* range
* round
* max
* min
* abs
* enumerate
* zip
* eval
* exec
* bool

# print()
Display the output

In [9]:
# print function use to display output
a = 10
print(a)

10

In [10]:
b = 'data science'
print(b)

data science

In [11]:
print("hello world")

hello world

In [12]:
a = 10.5
print(a)

10.5

# type()
Type is used to find data type of any object(int,float,str,bool,complex,list,tuple,dict,set)

In [8]:
a = 10
print(type(a))

<class 'int'>

In [ ]:
type(3.4)

float

In [14]:
type('data science')

str

In [15]:
type("hello world")

str

# len()
Length of an object(string , tuple,list,set,dict)

In [24]:
A = "python"
print(type(A))
print(len(A))

<class 'str'>
6

In [23]:
b = "data science"
print(type(b))
print(len(b))

<class 'str'>
12

In [22]:
B =[10,20,30,40,50,60,70]
print(type(B))
print(len(B))

<class 'list'>
7

In [25]:
C=(10,20,30,40,50,60,70)
print(type(C))
print(len(C))

<class 'tuple'>
7

In [26]:
d = {10,20,30,40,50,60,70}
print(type(d))
print(len(d))

<class 'set'>
7

In [27]:
e = {10:'a',20:'b',30:'c',40:'d'}
print(type(e))  
print(len(e))

<class 'dict'>
4

In [28]:
info = {'name':'john', 'age':25, 'city':'new york'}
print(type(info))
print(len(info))

<class 'dict'>
3

# sum()
Used to find sum of elements(list,tuple,set)

In [30]:
A = [10,20,30,40,60,80,100]
print(type(A))
print(len(A))
print(sum(A))

<class 'list'>
7
340

In [31]:
b = (1, 2, 3, 4, 5)
print(type(b))
print(len(b))
print(sum(b))

<class 'tuple'>
5
15

# max()
It is used to find maximum element of any object(list,tuple,set)

In [3]:
# Find the maximum value from a list
A = [10,20,50,100,200,300,400]
print(max(A))

400

In [4]:
# find the maximum value from a tuple
A = (10,20,50,100,200,300,400)
print(max(A))

400

In [5]:
# Find the maximum value from a set
A = {10,20,50,100,200,300,400}
print(max(A))

400

In [6]:
# Find the minimum value from a dictionary
A = {10:'a',20:'b',30:'c',40:'d'}
print(min(A))

10

# min()
Used to find minimum element in any object(list,tuple,set)

In [7]:
# Find the min value from a list
A = [10,20,50,100,200,300,400]
print(min(A))

10

In [8]:
# Find the minimum value from a tuple
A = (10,20,50,100,200,300,400)  
print(min(A))

10

In [9]:
# Find the minimum value from a set
A = {10,20,50,100,200,300,400}  
print(min(A))

10

In [10]:
# Find the minimum value from a dictionary
A = {10:'a',20:'b',30:'c',40:'d'}   
print(min(A))

10

In [11]:
# Find the minimum value from a tuple
A = (10,20,50,100,200,300,400)  
print(min(A))

10

In [13]:
# Find the maximum, minimum, sum and length of elements in a list
A =[1,2,3,4,5]
print("Maximum value is :" ,max(A))
print("Minimum value is :",min(A))
print("sum of elements in A:",sum(A))
print("length of list:",len(A))

Maximum value is : 5
Minimum value is : 1
sum of elements in A: 15
length of list: 5

In [14]:
# Find the maximum, minimum, sum and length of elements in a tuple
A =(1,2,3,4,5)
print("Maximum value is :" ,max(A))
print("Minimum value is :",min(A))
print("sum of elements in A:",sum(A))
print("length of list:",len(A))

Maximum value is : 5
Minimum value is : 1
sum of elements in A: 15
length of list: 5

In [19]:
# Find the maximum, minimum, sum and length of elements in a dictionary
b = {1:'a',2:'b',3:'c',4:'d',5:'e'}
print("Maximum value is :" ,max(b))
print("Minimum value is :",min(b))
print("length of list:",len(b))

Maximum value is : 5
Minimum value is : 1
length of list: 5

In [20]:
# find the maximum, minimum, sum and length of elements in a set
c = {1,2,3,4,5}
print("Maximum value is :" ,max(c))
print("Minimum value is :",min(c))
print("sum of elements in c:",sum(c))
print("length of set:",len(c))

Maximum value is : 5
Minimum value is : 1
sum of elements in c: 15
length of set: 5

# abs
It is used to convert negative value into positive(int,float).

In [22]:
# abs function returns the absolute value of a number
a = -10
print(abs(a))

10

In [23]:
# abs function returns the absolute value of a number
a = -200.5
print(abs(a))

200.5

In [25]:
abs(-3)

3

In [27]:
abs(-3)

3

In [28]:
abs(3)

3

# round
It is used to round number to a given decimal palces

round(number , decimal_places)

In [29]:
a = 3.456789
# round a to 4 decimal places
print(round(a,4))

3.4568

In [30]:
# round to 3 decimal
round(7.89543,3)

7.895

In [31]:
round(3.456)

3

In [32]:
round(3.678)

4

In [33]:
round(10.324)

10

In [34]:
round(120.98652)

121

In [35]:
round(3.14159,2)

3.14

In [36]:
round(-3.14159,2)

-3.14

In [37]:
round(-200.2457833,3)

-200.246

# Type casting
Used to convert one data type into other data type.

# int
* It converts given value to a integer

In [38]:
a = 3.45
print(type(a))
b = int(a)
print(b)

<class 'float'>
3

In [39]:
# convert float to int
a = 7.89
b = int(a)
print(b)
print(type(b))

7
<class 'int'>

In [44]:
# str to integer
a = int("123")   
print(a)
print(type(a))

123
<class 'int'>

In [45]:
# float to integer
# Integer within string into int
# boolean to integer
print(int(4.5))
print(int("1234"))
print(int(True))
print(int(False))

4
1234
1
0

In [1]:
int("hello") # string cannot be converted into integer

ValueError: invalid literal for int() with base 10: 'hello'

In [2]:
int('3.45') # float within string cannot be converted into int

ValueError: invalid literal for int() with base 10: '3.45'

In [3]:
int(3+4j)# complex number cannot be converted into int

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

# float
It is used to convert value into float

In [4]:
# convert int to float
float(10)

10.0

In [5]:
# convert str '123' into float
float('123')

123.0

In [8]:
# convert str '23.45' into float
float('23.45')

23.45

In [9]:
# convert bool to float
print(float(True))
print(float(False))

1.0
0.0

In [10]:
# converting str to float is not possible
float("hello")

ValueError: could not convert string to float: 'hello'

In [11]:
# converting complex to float is not possible
float(3+6j)

TypeError: float() argument must be a string or a real number, not 'complex'

# bool()
boolean converts all values into True or False.

In [12]:
bool(True)

True

In [13]:
bool(False)

False

In [14]:
bool(0)

False

In [15]:
bool(1)

True

In [16]:
# Boolean will be true for all values except for 0 , False ,None,[],()
print(bool(10))
print(bool("Jeevitha"))
print(bool(-10))
print(bool(3+5j))

True
True
True
True

In [17]:
print(bool(0))
print(bool(False))
print(bool(None))
print(bool([]))
print(bool(()))

False
False
False
False
False

# complex
Used to convert value to complex

In [18]:
# int to complex
complex(10)

(10+0j)

In [19]:
# float to complex
complex(12.3)

(12.3+0j)

In [20]:
# bool to complex
complex(True)

(1+0j)

In [21]:
# complex within str to complex
complex('4+5j')

(4+5j)

In [22]:
# converting str to complex is not possible
complex("Hello")

ValueError: complex() arg is a malformed string

# str()
Use to convert value into string

In [23]:
# int to str
a = str(10)
print(a)
print(type(a))

10
<class 'str'>

In [24]:
# float to str
a = str(10.5)
print(a)
print(type(a))

10.5
<class 'str'>

In [25]:
# bool to str
a = str(True)
print(a)
print(type(a))

True
<class 'str'>

In [26]:
# complex to str
a = str(3+4j)
print(a)
print(type(a))

(3+4j)
<class 'str'>

# str-->complex-->float-->int-->bool

# input()
Used take input from users

In [28]:
a = 1000
b = 2000
print(a+b)

3000

In [29]:
# int(input()):takes onlt integer values
a = int(input("enter only integer value a"))
b = int(input("enter only integer value b"))
print("sum of a and b is ",a+b)

sum of a and b is  30

In [30]:
x =int(input())
print(x) # it throws error if we input float,str,bool,complex

20

In [31]:
# float(input()): used to take float and integer as its inputs from user
a = float(input("enter float or int: "))
print(a)

30.0

In [32]:
a = float(input("enter float or int: "))
print(a)

30.0

In [33]:
# bool(input())
b = bool(input())
print(b)

True

In [34]:
b = bool(input())
print(b)
# it always returns true except empty string

True

In [35]:
b = bool(input())
print(b)

True

In [36]:
#input(): By default it takes string from user
name = input()
print(name)

vivek

In [37]:
a = input()
print(a)
print(type(a))

vivek
<class 'str'>

In [38]:
a = input()
print(a)
print(type(a))

10
<class 'str'>

In [40]:
a = input()
print(a)
print(type(a))
# it always takes string as input from user

1
<class 'str'>

# List , tuple,set,dict

In [41]:
# creating list
A = list((1,2,3,4))
print(A)

[1, 2, 3, 4]

In [42]:
# convert list to tuple
tuple(A)

(1, 2, 3, 4)

In [43]:
# creating tuple
B = tuple((10,20,30,40))
print(B)

(10, 20, 30, 40)

In [44]:
#tuple to list
list(B)

[10, 20, 30, 40]

In [45]:
# list to set
set(A)

{1, 2, 3, 4}

In [46]:
# tuple into set
set(B)

{10, 20, 30, 40}

In [47]:
C = set((1,2,3,4))
print(C)

{1, 2, 3, 4}

In [48]:
# set to list
list(C)

[1, 2, 3, 4]

In [49]:
# set to tuple
tuple(C)

(1, 2, 3, 4)

# set to tuple or list
# tuple to set or list
# list to set or tuple

In [50]:
# dict
D =dict({'name':'Zara','Age':20})
print(D)

{'name': 'Zara', 'Age': 20}

In [51]:
# dict into list:list of keys
list(D)

['name', 'Age']

In [52]:
# dict into tuple : tuple of keys
tuple(D)

('name', 'Age')

In [53]:
# dict to set:set of keys
set(D)

{'Age', 'name'}

In [ ]:
# list,tuple,set to dict is not possible
dict(A)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

# eval
It takes list,tuple,set,dict from users

In [55]:
A =eval(input())
print(A)
print(type(A)) 
# it takes list,tuple,set,dictionary as input from user
# example input:{'name':'john', 'age':25, 'city':'new york'}
# example input:[10,20,30,40]

{'name': 'john', 'age': 25, 'city': 'new york'}
<class 'dict'>

In [56]:
A =eval(input())
print(A)
print(type(A)) 
# it takes list,tuple,set,dictionary as input from user
# example input:{'name':'john', 'age':25, 'city':'new york'}
# example input:[10,20,30,40]

[10, 20, 30, 40]
<class 'list'>

In [57]:
A =eval(input())
print(A)
print(type(A)) # example input set :{10,20,30,40}

{40, 10, 20, 30}
<class 'set'>

In [58]:
# example input tuple :(10,20,30,40)
A = eval(input())
print(A)
print(type(A)) # example input tuple :(10,20,30,40)

(10, 20, 30, 40)
<class 'tuple'>