# Functions
* Functions are piece of code used to perform sprcific task.
* Functions can be called directly using its name.

ðŸ‘‰ Functions are like a hammer that you can use to drive a nail into a piece of wood. It doesn't matter what kind of wood it is or where the nail goes. You just use the hammer to do a general task.

# Functions
* print
* type
* len
* sum
* int
* float
* str
* list
* set
* tuple
* dict
* help
* input
* range
* round
* max
* min
* abs
* enumerate
* zip
* eval
* exec
* bool

# print()
Display the output

In [9]:
# print function use to display output
a = 10
print(a)

10

In [10]:
b = 'data science'
print(b)

data science

In [11]:
print("hello world")

hello world

In [12]:
a = 10.5
print(a)

10.5

# type()
Type is used to find data type of any object(int,float,str,bool,complex,list,tuple,dict,set)

In [8]:
a = 10
print(type(a))

<class 'int'>

In [ ]:
type(3.4)

float

In [14]:
type('data science')

str

In [15]:
type("hello world")

str

# len()
Length of an object(string , tuple,list,set,dict)

In [24]:
A = "python"
print(type(A))
print(len(A))

<class 'str'>
6

In [23]:
b = "data science"
print(type(b))
print(len(b))

<class 'str'>
12

In [22]:
B =[10,20,30,40,50,60,70]
print(type(B))
print(len(B))

<class 'list'>
7

In [25]:
C=(10,20,30,40,50,60,70)
print(type(C))
print(len(C))

<class 'tuple'>
7

In [26]:
d = {10,20,30,40,50,60,70}
print(type(d))
print(len(d))

<class 'set'>
7

In [27]:
e = {10:'a',20:'b',30:'c',40:'d'}
print(type(e))  
print(len(e))

<class 'dict'>
4

In [28]:
info = {'name':'john', 'age':25, 'city':'new york'}
print(type(info))
print(len(info))

<class 'dict'>
3

# sum()
Used to find sum of elements(list,tuple,set)

In [30]:
A = [10,20,30,40,60,80,100]
print(type(A))
print(len(A))
print(sum(A))

<class 'list'>
7
340

In [31]:
b = (1, 2, 3, 4, 5)
print(type(b))
print(len(b))
print(sum(b))

<class 'tuple'>
5
15