# Functions
* Functions are piece of code used to perform sprcific task.
* Functions can be called directly using its name.

ðŸ‘‰ Functions are like a hammer that you can use to drive a nail into a piece of wood. It doesn't matter what kind of wood it is or where the nail goes. You just use the hammer to do a general task.

# Functions
* print
* type
* len
* sum
* int
* float
* str
* list
* set
* tuple
* dict
* help
* input
* range
* round
* max
* min
* abs
* enumerate
* zip
* eval
* exec
* bool

# print()
Display the output

In [9]:
# print function use to display output
a = 10
print(a)

10

In [10]:
b = 'data science'
print(b)

data science

In [11]:
print("hello world")

hello world

In [12]:
a = 10.5
print(a)

10.5

# type()
Type is used to find data type of any object(int,float,str,bool,complex,list,tuple,dict,set)

In [8]:
a = 10
print(type(a))

<class 'int'>

In [ ]:
type(3.4)

float

In [14]:
type('data science')

str

In [15]:
type("hello world")

str

# len()
Length of an object(string , tuple,list,set,dict)

In [24]:
A = "python"
print(type(A))
print(len(A))

<class 'str'>
6

In [23]:
b = "data science"
print(type(b))
print(len(b))

<class 'str'>
12

In [22]:
B =[10,20,30,40,50,60,70]
print(type(B))
print(len(B))

<class 'list'>
7

In [25]:
C=(10,20,30,40,50,60,70)
print(type(C))
print(len(C))

<class 'tuple'>
7

In [26]:
d = {10,20,30,40,50,60,70}
print(type(d))
print(len(d))

<class 'set'>
7

In [27]:
e = {10:'a',20:'b',30:'c',40:'d'}
print(type(e))  
print(len(e))

<class 'dict'>
4

In [28]:
info = {'name':'john', 'age':25, 'city':'new york'}
print(type(info))
print(len(info))

<class 'dict'>
3

# sum()
Used to find sum of elements(list,tuple,set)

In [30]:
A = [10,20,30,40,60,80,100]
print(type(A))
print(len(A))
print(sum(A))

<class 'list'>
7
340

In [31]:
b = (1, 2, 3, 4, 5)
print(type(b))
print(len(b))
print(sum(b))

<class 'tuple'>
5
15

# max()
It is used to find maximum element of any object(list,tuple,set)

In [3]:
# Find the maximum value from a list
A = [10,20,50,100,200,300,400]
print(max(A))

400

In [4]:
# find the maximum value from a tuple
A = (10,20,50,100,200,300,400)
print(max(A))

400

In [5]:
# Find the maximum value from a set
A = {10,20,50,100,200,300,400}
print(max(A))

400

In [6]:
# Find the minimum value from a dictionary
A = {10:'a',20:'b',30:'c',40:'d'}
print(min(A))

10

# min()
Used to find minimum element in any object(list,tuple,set)

In [7]:
# Find the min value from a list
A = [10,20,50,100,200,300,400]
print(min(A))

10

In [8]:
# Find the minimum value from a tuple
A = (10,20,50,100,200,300,400)  
print(min(A))

10

In [9]:
# Find the minimum value from a set
A = {10,20,50,100,200,300,400}  
print(min(A))

10

In [10]:
# Find the minimum value from a dictionary
A = {10:'a',20:'b',30:'c',40:'d'}   
print(min(A))

10

In [11]:
# Find the minimum value from a tuple
A = (10,20,50,100,200,300,400)  
print(min(A))

10

In [13]:
# Find the maximum, minimum, sum and length of elements in a list
A =[1,2,3,4,5]
print("Maximum value is :" ,max(A))
print("Minimum value is :",min(A))
print("sum of elements in A:",sum(A))
print("length of list:",len(A))

Maximum value is : 5
Minimum value is : 1
sum of elements in A: 15
length of list: 5

In [14]:
# Find the maximum, minimum, sum and length of elements in a tuple
A =(1,2,3,4,5)
print("Maximum value is :" ,max(A))
print("Minimum value is :",min(A))
print("sum of elements in A:",sum(A))
print("length of list:",len(A))

Maximum value is : 5
Minimum value is : 1
sum of elements in A: 15
length of list: 5

In [19]:
# Find the maximum, minimum, sum and length of elements in a dictionary
b = {1:'a',2:'b',3:'c',4:'d',5:'e'}
print("Maximum value is :" ,max(b))
print("Minimum value is :",min(b))
print("length of list:",len(b))

Maximum value is : 5
Minimum value is : 1
length of list: 5

In [20]:
# find the maximum, minimum, sum and length of elements in a set
c = {1,2,3,4,5}
print("Maximum value is :" ,max(c))
print("Minimum value is :",min(c))
print("sum of elements in c:",sum(c))
print("length of set:",len(c))

Maximum value is : 5
Minimum value is : 1
sum of elements in c: 15
length of set: 5

# abs
It is used to convert negative value into positive(int,float).

In [22]:
# abs function returns the absolute value of a number
a = -10
print(abs(a))

10

In [23]:
# abs function returns the absolute value of a number
a = -200.5
print(abs(a))

200.5

In [25]:
abs(-3)

3

In [27]:
abs(-3)

3

In [28]:
abs(3)

3

# round
It is used to round number to a given decimal palces

round(number , decimal_places)

In [29]:
a = 3.456789
# round a to 4 decimal places
print(round(a,4))

3.4568

In [30]:
# round to 3 decimal
round(7.89543,3)

7.895

In [31]:
round(3.456)

3

In [32]:
round(3.678)

4

In [33]:
round(10.324)

10

In [34]:
round(120.98652)

121

In [35]:
round(3.14159,2)

3.14

In [36]:
round(-3.14159,2)

-3.14

In [37]:
round(-200.2457833,3)

-200.246

# Type casting
Used to convert one data type into other data type.

# int
* It converts given value to a integer

In [38]:
a = 3.45
print(type(a))
b = int(a)
print(b)

<class 'float'>
3

In [39]:
# convert float to int
a = 7.89
b = int(a)
print(b)
print(type(b))

7
<class 'int'>

In [44]:
# str to integer
a = int("123")   
print(a)
print(type(a))

123
<class 'int'>

In [45]:
# float to integer
# Integer within string into int
# boolean to integer
print(int(4.5))
print(int("1234"))
print(int(True))
print(int(False))

4
1234
1
0

In [1]:
int("hello") # string cannot be converted into integer

ValueError: invalid literal for int() with base 10: 'hello'

In [2]:
int('3.45') # float within string cannot be converted into int

ValueError: invalid literal for int() with base 10: '3.45'

In [3]:
int(3+4j)# complex number cannot be converted into int

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

# float
It is used to convert value into float

In [4]:
# convert int to float
float(10)

10.0

In [5]:
# convert str '123' into float
float('123')

123.0

In [8]:
# convert str '23.45' into float
float('23.45')

23.45

In [9]:
# convert bool to float
print(float(True))
print(float(False))

1.0
0.0

In [10]:
# converting str to float is not possible
float("hello")

ValueError: could not convert string to float: 'hello'

In [11]:
# converting complex to float is not possible
float(3+6j)

TypeError: float() argument must be a string or a real number, not 'complex'

# bool()
boolean converts all values into True or False.

In [12]:
bool(True)

True

In [13]:
bool(False)

False

In [14]:
bool(0)

False

In [15]:
bool(1)

True

In [16]:
# Boolean will be true for all values except for 0 , False ,None,[],()
print(bool(10))
print(bool("Jeevitha"))
print(bool(-10))
print(bool(3+5j))

True
True
True
True

In [17]:
print(bool(0))
print(bool(False))
print(bool(None))
print(bool([]))
print(bool(()))

False
False
False
False
False

# complex
Used to convert value to complex

In [18]:
# int to complex
complex(10)

(10+0j)

In [19]:
# float to complex
complex(12.3)

(12.3+0j)

In [20]:
# bool to complex
complex(True)

(1+0j)

In [21]:
# complex within str to complex
complex('4+5j')

(4+5j)

In [22]:
# converting str to complex is not possible
complex("Hello")

ValueError: complex() arg is a malformed string

# str()
Use to convert value into string

In [23]:
# int to str
a = str(10)
print(a)
print(type(a))

10
<class 'str'>

In [24]:
# float to str
a = str(10.5)
print(a)
print(type(a))

10.5
<class 'str'>

In [25]:
# bool to str
a = str(True)
print(a)
print(type(a))

True
<class 'str'>

In [26]:
# complex to str
a = str(3+4j)
print(a)
print(type(a))

(3+4j)
<class 'str'>

# str-->complex-->float-->int-->bool

# input()
Used take input from users

In [28]:
a = 1000
b = 2000
print(a+b)

3000

In [29]:
# int(input()):takes onlt integer values
a = int(input("enter only integer value a"))
b = int(input("enter only integer value b"))
print("sum of a and b is ",a+b)

sum of a and b is  30

In [30]:
x =int(input())
print(x) # it throws error if we input float,str,bool,complex

20

In [31]:
# float(input()): used to take float and integer as its inputs from user
a = float(input("enter float or int: "))
print(a)

30.0

In [32]:
a = float(input("enter float or int: "))
print(a)

30.0

In [33]:
# bool(input())
b = bool(input())
print(b)

True

In [34]:
b = bool(input())
print(b)
# it always returns true except empty string

True

In [35]:
b = bool(input())
print(b)

True

In [36]:
#input(): By default it takes string from user
name = input()
print(name)

vivek

In [37]:
a = input()
print(a)
print(type(a))

vivek
<class 'str'>

In [38]:
a = input()
print(a)
print(type(a))

10
<class 'str'>

In [40]:
a = input()
print(a)
print(type(a))
# it always takes string as input from user

1
<class 'str'>

# List , tuple,set,dict

In [41]:
# creating list
A = list((1,2,3,4))
print(A)

[1, 2, 3, 4]

In [42]:
# convert list to tuple
tuple(A)

(1, 2, 3, 4)

In [43]:
# creating tuple
B = tuple((10,20,30,40))
print(B)

(10, 20, 30, 40)

In [44]:
#tuple to list
list(B)

[10, 20, 30, 40]

In [45]:
# list to set
set(A)

{1, 2, 3, 4}

In [46]:
# tuple into set
set(B)

{10, 20, 30, 40}

In [47]:
C = set((1,2,3,4))
print(C)

{1, 2, 3, 4}

In [48]:
# set to list
list(C)

[1, 2, 3, 4]

In [49]:
# set to tuple
tuple(C)

(1, 2, 3, 4)

# set to tuple or list
# tuple to set or list
# list to set or tuple

In [50]:
# dict
D =dict({'name':'Zara','Age':20})
print(D)

{'name': 'Zara', 'Age': 20}

In [51]:
# dict into list:list of keys
list(D)

['name', 'Age']

In [52]:
# dict into tuple : tuple of keys
tuple(D)

('name', 'Age')

In [53]:
# dict to set:set of keys
set(D)

{'Age', 'name'}

In [ ]:
# list,tuple,set to dict is not possible
dict(A)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

# eval
It takes list,tuple,set,dict from users

In [55]:
A =eval(input())
print(A)
print(type(A)) 
# it takes list,tuple,set,dictionary as input from user
# example input:{'name':'john', 'age':25, 'city':'new york'}
# example input:[10,20,30,40]

{'name': 'john', 'age': 25, 'city': 'new york'}
<class 'dict'>

In [56]:
A =eval(input())
print(A)
print(type(A)) 
# it takes list,tuple,set,dictionary as input from user
# example input:{'name':'john', 'age':25, 'city':'new york'}
# example input:[10,20,30,40]

[10, 20, 30, 40]
<class 'list'>

In [57]:
A =eval(input())
print(A)
print(type(A)) # example input set :{10,20,30,40}

{40, 10, 20, 30}
<class 'set'>

In [58]:
# example input tuple :(10,20,30,40)
A = eval(input())
print(A)
print(type(A)) # example input tuple :(10,20,30,40)

(10, 20, 30, 40)
<class 'tuple'>

# enumerate
It is used to find index number of each element or character in list or tuple or string.

In [61]:
A = 'python'
print(type(A))
list(enumerate(A))

<class 'str'>

[(0, 'p'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n')]

In [62]:
tuple(enumerate(A))

((0, 'p'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n'))

In [63]:
dict(enumerate(A))

{0: 'p', 1: 'y', 2: 't', 3: 'h', 4: 'o', 5: 'n'}

In [64]:
set(enumerate(A))

{(0, 'p'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n')}

In [65]:
list(enumerate(A))

[(0, 'p'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n')]

In [66]:
B = ['apple','orange','grapes']
list(enumerate(B))

[(0, 'apple'), (1, 'orange'), (2, 'grapes')]

In [67]:
tuple(enumerate(B))

((0, 'apple'), (1, 'orange'), (2, 'grapes'))

In [68]:
dict(enumerate(B))

{0: 'apple', 1: 'orange', 2: 'grapes'}

# range
Used to generate n number of values/numbers

In [69]:
# generate list of 10 numbers(0 to 9)
list(range(10)) # end value is not include
# range by default generates values from 0 and end value is not included

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [70]:
# generate tuple of 30 numbers starting from 0
tuple(range(30)) #end value(30) not included (0 to 29)

(0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29)

In [71]:
# generate values from 1 to 10(included) within a list
# range(start_num,end_num)
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [73]:
list(range(1,20))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [74]:
# generate values from 5 to 35(included)
list(range(5,36))

[5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35]

In [75]:
# generate first 10 even numbers(2,4,6,8,10,12,14,16,18,20)
# range(start_num,end_num,step)
# end_num not included
list(range(2,21,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [76]:
# generate first 10 multiples of 7
list(range(7,71,7))

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

In [77]:
# generate first 10 odd numbers(1,3,5,7,9,11,13,15,17,19)
list(range(1,20,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [78]:
# generate tuple of values like 20 , 25,30,35,40,45,50
tuple(range(20,51,5))

(20, 25, 30, 35, 40, 45, 50)

# help

In [79]:
# eval
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [80]:
help(input)

Help on method raw_input in module ipykernel.kernelbase:

raw_input(prompt='') method of ipykernel.ipkernel.IPythonKernel instance
    Forward raw_input to frontends

    Raises
    ------
    StdinNotImplementedError if active frontend doesn't support stdin.

In [81]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [82]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return bool(key in self).
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, index, /)
 |      Return self[index].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(object, /)
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [83]:
help(str)

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to 'utf-8'.
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return bool(key in self).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(self, sub[, start[, end]], /)
 |      Return the number of non-overlapping occurrences of substring sub in string S[start:end].
 |
 |      Optional arguments start and end are interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(self, suffix[, start[, end]], /)
 |      Return True if the string ends with the specified suffix, False otherwise.
 |
 |      suffix
 |        A string or a tuple of strings to try.
 |      start
 |        Optional start position. Default: start of the string.
 |      end
 |        Optional stop position. Default: end of the string.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(self, sub[, start[, end]], /)
 |      Return the lowest index in S where substring sub is found, such that sub is contained within S[start:end].
 |
 |      Optional arguments start and end are interpreted as in slice notation.
 |      Return -1 on failure.
 |
 |  format(self, /, *args, **kwargs)
 |      Return a formatted version of the string, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(self, mapping, /)
 |      Return a formatted version of the string, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(self, sub[, start[, end]], /)
 |      Return the lowest index in S where substring sub is found, such that sub is contained within S[start:end].
 |
 |      Optional arguments start and end are interpreted as in slice notation.
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Call keyword.iskeyword(s) to test whether string s is a reserved identifier,
 |      such as "def" or "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if all characters in the string are printable, False otherwise.
 |
 |      A character is printable if repr() may use it in its output.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  removeprefix(self, prefix, /)
 |      Return a str with the given prefix string removed if present.
 |
 |      If the string starts with the prefix string, return string[len(prefix):].
 |      Otherwise, return a copy of the original string.
 |
 |  removesuffix(self, suffix, /)
 |      Return a str with the given suffix string removed if present.
 |
 |      If the string ends with the suffix string and that suffix is not empty,
 |      return string[:-len(suffix)]. Otherwise, return a copy of the original
 |      string.
 |
 |  replace(self, old, new, /, count=-1)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(self, sub[, start[, end]], /)
 |      Return the highest index in S where substring sub is found, such that sub is contained within S[start:end].
 |
 |      Optional arguments start and end are interpreted as in slice notation.
 |      Return -1 on failure.
 |
 |  rindex(self, sub[, start[, end]], /)
 |      Return the highest index in S where substring sub is found, such that sub is contained within S[start:end].
 |
 |      Optional arguments start and end are interpreted as in slice notation.
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \n \r \t \f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits.
 |          -1 (the default value) means no limit.
 |
 |      Splitting starts at the end of the string and works to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \n \r \t \f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits.
 |          -1 (the default value) means no limit.
 |
 |      Splitting starts at the front of the string and works to the end.
 |
 |      Note, str.split() is mainly useful for data that has been intentionally
 |      delimited.  With natural text that includes punctuation, consider using
 |      the regular expression module.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(self, prefix[, start[, end]], /)
 |      Return True if the string starts with the specified prefix, False otherwise.
 |
 |      prefix
 |        A string or a tuple of strings to try.
 |      start
 |        Optional start position. Default: start of the string.
 |      end
 |        Optional stop position. Default: end of the string.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(x, y=<unrepresentable>, z=<unrepresentable>, /)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

In [84]:
help(True)

Help on bool object:

class bool(int)
 |  bool(object=False, /)
 |
 |  Returns True when the argument is true, False otherwise.
 |  The builtins True and False are the only two instances of the class bool.
 |  The class bool is a subclass of the class int, and cannot be subclassed.
 |
 |  Method resolution order:
 |      bool
 |      int
 |      object
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __invert__(self, /)
 |      ~self
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from int:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __ceil__(self, /)
 |      Ceiling of an Integral returns itself.
 |
 |  __divmod__(self, value, /)
 |      Return divmod(self, value).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __float__(self, /)
 |      float(self)
 |
 |  __floor__(self, /)
 |      Flooring an Integral returns itself.
 |
 |  __floordiv__(self, value, /)
 |      Return self//value.
 |
 |  __format__(self, format_spec, /)
 |      Convert to a string according to format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __index__(self, /)
 |      Return self converted to an integer, if self is suitable for use as an index into a list.
 |
 |  __int__(self, /)
 |      int(self)
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lshift__(self, value, /)
 |      Return self<<value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __pow__(self, value, mod=None, /)
 |      Return pow(self, value, mod).
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __rdivmod__(self, value, /)
 |      Return divmod(value, self).
 |
 |  __rfloordiv__(self, value, /)
 |      Return value//self.
 |
 |  __rlshift__(self, value, /)
 |      Return value<<self.
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __round__(self, ndigits=<unrepresentable>, /)
 |      Rounding an Integral returns itself.
 |
 |      Rounding with an ndigits argument also returns an integer.
 |
 |  __rpow__(self, value, mod=None, /)
 |      Return pow(value, self, mod).
 |
 |  __rrshift__(self, value, /)
 |      Return value>>self.
 |
 |  __rshift__(self, value, /)
 |      Return self>>value.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __sizeof__(self, /)
 |      Returns size in memory, in bytes.
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  __trunc__(self, /)
 |      Truncating an Integral returns itself.
 |
 |  as_integer_ratio(self, /)
 |      Return a pair of integers, whose ratio is equal to the original int.
 |
 |      The ratio is in lowest terms and has a positive denominator.
 |
 |      >>> (10).as_integer_ratio()
 |      (10, 1)
 |      >>> (-10).as_integer_ratio()
 |      (-10, 1)
 |      >>> (0).as_integer_ratio()
 |      (0, 1)
 |
 |  bit_count(self, /)
 |      Number of ones in the binary representation of the absolute value of self.
 |
 |      Also known as the population count.
 |
 |      >>> bin(13)
 |      '0b1101'
 |      >>> (13).bit_count()
 |      3
 |
 |  bit_length(self, /)
 |      Number of bits necessary to represent self in binary.
 |
 |      >>> bin(37)
 |      '0b100101'
 |      >>> (37).bit_length()
 |      6
 |
 |  conjugate(self, /)
 |      Returns self, the complex conjugate of any int.
 |
 |  is_integer(self, /)
 |      Returns True. Exists for duck type compatibility with float.is_integer.
 |
 |  to_bytes(self, /, length=1, byteorder='big', *, signed=False)
 |      Return an array of bytes representing an integer.
 |
 |      length
 |        Length of bytes object to use.  An OverflowError is raised if the
 |        integer is not representable with the given number of bytes.  Default
 |        is length 1.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        sys.byteorder as the byte order value.  Default is to use 'big'.
 |      signed
 |        Determines whether two's complement is used to represent the integer.
 |        If signed is False and a negative integer is given, an OverflowError
 |        is raised.
 |
 |  ----------------------------------------------------------------------
 |  Class methods inherited from int:
 |
 |  from_bytes(bytes, byteorder='big', *, signed=False)
 |      Return the integer represented by the given array of bytes.
 |
 |      bytes
 |        Holds the array of bytes to convert.  The argument must either
 |        support the buffer protocol or be an iterable object producing bytes.
 |        Bytes and bytearray are examples of built-in objects that support the
 |        buffer protocol.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        sys.byteorder as the byte order value.  Default is to use 'big'.
 |      signed
 |        Indicates whether two's complement is used to represent the integer.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from int:
 |
 |  denominator
 |      the denominator of a rational number in lowest terms
 |
 |  imag
 |      the imaginary part of a complex number
 |
 |  numerator
 |      the numerator of a rational number in lowest terms
 |
 |  real
 |      the real part of a complex number

# exec
It is used to execute the expression

In [85]:
a = 10
b = 20
print(a+b)

30

In [86]:
exec("a=10 \nb=20 \nprint(a+b)")
# \n : new line

30

In [87]:
A=[1,2,3,4]
print(sum(A))

10

In [88]:
exec("A=[1,2,3,4] \nprint(sum(A))")

10

In [89]:
A =[10,20,30,40]
print(min(A))
print(max(A))

10
40

In [90]:
exec("A=[10,20,30,40] \nprint(min(A)) \nprint(max(A))")

10
40


# zip
It is used to combine elements of two objects(list,tuple).

In [91]:
A =[1,2,3,4]
B = ['a','b','c','d']
list(zip(A,B))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [92]:
X = ['name','Age']
Y = ['Jeevitha',30]
list(zip(X,Y))

[('name', 'Jeevitha'), ('Age', 30)]

In [93]:
x = ('name','Age')
y = ('Jeevitha',30)
z = ('Female',True) 
list(zip(x,y,z))

[('name', 'Jeevitha', 'Female'), ('Age', 30, True)]

In [94]:
tuple(zip(X,Y))

(('name', 'Jeevitha'), ('Age', 30))

In [96]:
tuple(zip(X,Y))

(('name', 'Jeevitha'), ('Age', 30))

In [97]:
dict(zip(X,Y))

{'name': 'Jeevitha', 'Age': 30}

In [98]:
X = ['name','Age']
Y = ['Jeevitha']
list(zip(X,Y))

[('name', 'Jeevitha')]

In [99]:
x='a'
y='b'
list(zip(x,y))

[('a', 'b')]

In [100]:
x='a'
y='b'
set(zip(x,y))

{('a', 'b')}

In [101]:
A =[1,2,3]
B=['a','b','c','d']
list(zip(A,B))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [102]:
A =[1,2,3]
B=['a','b','c','d']
list(zip(B,A))

[('a', 1), ('b', 2), ('c', 3)]

In [103]:
print(list(zip(A,B)))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [104]:
# eval: Used to evaluate the string expression
A = "2+3**2+1000"
print(A)
print(eval(A))

2+3**2+1000
1011

In [105]:
print(A)
print(2+3**2+1000)

2+3**2+1000
1011

In [106]:
print(eval(A))

1011

In [107]:
A = 2+3**2+1000
print(A)

1011

# Nested list
list within list

In [108]:
A =[[1,2],[3.4,5.6],[True,False],['sql','python']]
print(A)

[[1, 2], [3.4, 5.6], [True, False], ['sql', 'python']]

# Nested tuple
tuple within tuple

In [109]:
B = ((1,2),(3,4,(True,False)))
print(B)

((1, 2), (3, 4, (True, False)))

# Nested dict

In [110]:
C = {'classA':{'name':'Satvik'},'classB':{'name':'Arya'}}
print(C)

{'classA': {'name': 'Satvik'}, 'classB': {'name': 'Arya'}}

In [111]:
A =[[1,2],[3.4,5.6],[True,False],['sql','python']]
print(A)

[[1, 2], [3.4, 5.6], [True, False], ['sql', 'python']]

In [112]:
# fetch True
A[2][0]

True

In [113]:
# fetch python
A[3][1]

'python'

In [115]:
# fetch false
A[2][1]

False

In [116]:
# fetch True
A[2][0]

True

In [117]:
#fetch python
A[-1][1]

'python'

In [118]:
A[3][1]

'python'

# Methods
ðŸ‘‰ Methods are like special tools that come with an object, like a string or a list. They are specific to that object, and you use them by putting a dot . after the object's name. For example, "hello".upper() is a method that makes the string all uppercase.

In [119]:
A = 'python'
len(A)

6

In [120]:
A.upper()

'PYTHON'

In [121]:
A.lower()

'python'

In [122]:
"hello world".upper()

'HELLO WORLD'

# CRUD operations

* C: create
* R : read
* U : update
* D : delete

# List methods and functions

In [123]:
# creating list
A =[10,20,30,40,50]
print(A)

[10, 20, 30, 40, 50]

In [124]:
colors = list(('blue','green','orange'))
print(colors)

['blue', 'green', 'orange']

In [125]:
# List functions: sum,type,min,max,len,range,enumerate,eval

# Update:Modify the list elements
* append
* insert
* extend

In [126]:
A = [100 , 200 , 'sql' , 400 , 500, 600,'python']
print(A)

[100, 200, 'sql', 400, 500, 600, 'python']

In [127]:
# changing sql as 300
A[2] = 300
print(A) # changing element using indexing or slicing

[100, 200, 300, 400, 500, 600, 'python']

# append
append is method which is used to add single element at the end of list.

In [129]:
companies=['IBM','Oracle','Almabetter','Amazon','Google']
# add Infosys at the end of list

print(companies)

['IBM', 'Oracle', 'Almabetter', 'Amazon', 'Google']

In [130]:
companies.append('Infosys')
print(companies)

['IBM', 'Oracle', 'Almabetter', 'Amazon', 'Google', 'Infosys']

In [131]:
# add TCS at the end of list
companies.append('TCS')
print(companies)

['IBM', 'Oracle', 'Almabetter', 'Amazon', 'Google', 'Infosys', 'TCS']

# Insert
It is a method in list used to add new element at certain index position.

In [132]:
A = [1000,2000,4000,6000]
# insert 3000 between 2000 and 4000
# A.insert(index_num,value)
A.insert(2 , 3000)
print(A)

[1000, 2000, 3000, 4000, 6000]

In [133]:
# insert 5000 after 4000
A.insert(4,5000)
print(A)

[1000, 2000, 3000, 4000, 5000, 6000]

In [134]:
# insert hello at 3rd index position
A.insert(3,"Hello")
print(A)

[1000, 2000, 3000, 'Hello', 4000, 5000, 6000]

# Extend
* It is a method used to combine elements of multiple list into one
* Used to add multiple values at the end of list

In [135]:
A =[1,2,3,4]
B = ['a','b','c','e']
# add all the elements of B at the end of A
A.extend(B)
print(A)

[1, 2, 3, 4, 'a', 'b', 'c', 'e']

In [136]:
A =[1,2,3,4]
B = ['a','b','c','e']
B.extend(A)
print(B)

['a', 'b', 'c', 'e', 1, 2, 3, 4]

# How to drop list elements
* remove
* pop
* del
* clear

# remove
It is used to remove specific element by its name.

In [137]:
subjects = ["Maths","physics","chemistry","Biology","English"]
# remove chemistry
subjects.remove('chemistry')
print(subjects)

['Maths', 'physics', 'Biology', 'English']

In [138]:
subjects.remove('Biology')
print(subjects)

['Maths', 'physics', 'English']

In [139]:
subjects.remove('English')
print(subjects)

['Maths', 'physics']

In [143]:
subjects.remove('Maths')
print(subjects)

ValueError: list.remove(x): x not in list

# pop
* Used to remove the last element
* Used to remove element using index

In [145]:
subjects = ["Maths","physics","chemistry","Biology","English"]
print(subjects)

['Maths', 'physics', 'chemistry', 'Biology', 'English']

In [146]:
subjects.pop()
print(subjects)

['Maths', 'physics', 'chemistry', 'Biology']

In [147]:
subjects.pop()
print(subjects)

['Maths', 'physics', 'chemistry']

In [150]:
skills = ["python","R","Java","C+","pyspark"]
skills.pop()

'pyspark'

In [151]:
print(skills)

['python', 'R', 'Java', 'C+']

In [152]:
skills = ["python","R","Java","C+","pyspark"]
# remove R using pop
skills.pop(1)
print(skills)

['python', 'Java', 'C+', 'pyspark']

In [153]:
# remove C+
skills.pop(2)
print(skills)

['python', 'Java', 'pyspark']

# del
It is used to remove element of list using index.

In [154]:
skills = ["python","R","Java","C+","pyspark"]
# remove Java
del skills[2]
print(skills)

['python', 'R', 'C+', 'pyspark']

In [155]:
del skills[1]
print(skills)

['python', 'C+', 'pyspark']

In [156]:
del skills[-1]
print(skills)

['python', 'C+']

# clear
It is used to remove all the elements

In [159]:
A=[10,20,30,40]
A.clear()
print(A)

[]

In [158]:
print(A)

[]

In [160]:
# del:delete the list
A =[10,20,30]
del A

In [161]:
print(A)

NameError: name 'A' is not defined

# sort
Used to arrange lista elements in increasing or decreasing

In [162]:
A =[10000,1,20,3000,40,500,5,6,79,2000]
# arrange in increasing order
A.sort()
print(A)

[1, 5, 6, 20, 40, 79, 500, 2000, 3000, 10000]

In [163]:
# descending: decreasing
A.sort(reverse=True)
print(A)

[10000, 3000, 2000, 500, 79, 40, 20, 6, 5, 1]

# Reverse list

In [165]:
A =[10000,1,20,3000,40,500,5,6,79,2000]
A[::-1]

[2000, 79, 6, 5, 500, 40, 3000, 20, 1, 10000]

In [166]:
A =[10000,1,20,3000,40,500,5,6,79,2000]
A.reverse()
print(A)

[2000, 79, 6, 5, 500, 40, 3000, 20, 1, 10000]

# count
Used to find count of elements/occurence

In [167]:
A = ["a","b","a","c","a","d","f"]
# find count of A
A.count('a')

3

In [168]:
print(len(A))

7

In [169]:
# count of f
A.count('f')

1

# Index
Used to find index number of element

In [170]:
A =[1000,2000,3000,4000]
A.index(1000)

0

In [171]:
A.index(3000)

2

In [172]:
A.index(4000)

3

In [173]:
A =[1000,2000,1000,3000,4000]
A.index(1000)

0

# copy
Used to create copy of list

In [174]:
A =[1,2,3,4]
B = A.copy()
print(B)

[1, 2, 3, 4]

In [175]:
# shallow copy and deep copy

In [176]:
A =[1,2,3,4,5,6]
del A[0:3]

In [177]:
A

[4, 5, 6]

# List
* functions: print , type ,len ,max ,min,sum , enumerate
* Methods: reverse , sort , count , index , append , insert , extend , pop ,remove , del , clear ,copy

# Tuple Methods
* ordered
* Immutable
* Allows duplicates

In [178]:
A = (10,20,30,40,50)
print(A)

(10, 20, 30, 40, 50)

In [179]:
B =tuple((1,2,3,4))
print(B)
print(type(B))
print(max(B))
print(min(B))
print(sum(B))
print(len(B))

(1, 2, 3, 4)
<class 'tuple'>
4
1
10
4

In [180]:
# tuple functions:type,max,min,sum,

# Index
Used to find index position of elements

In [181]:
A =('sql','python','Java','R')
# find index position of Java
A.index('Java')

2

In [182]:
A =('a','b','c','d','e','f','g','h','i','j','k','l','m','n','o')
print(A)

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o')

In [183]:
A.index('g')

6

In [184]:
# fetch l
A.index('l')

11

In [185]:
A[A.index('l')]

'l'

In [186]:
A.index('h')

7

In [187]:
# fetch h
A[A.index('h')]

'h'

In [188]:
A[7]

'h'

# count

In [189]:
A =('sql','sql','python','R','R','sql','R','R')
# find count of R
A.count('R')

4

In [190]:
# find the count of sql
# A.count(value)
# A.index(value)
A.count('sql')

3

# sorted

In [191]:
B =(1,2000,300,40,500,7000)
sorted(B)

[1, 40, 300, 500, 2000, 7000]

In [192]:
print(B)

(1, 2000, 300, 40, 500, 7000)

In [193]:
A =[100,1,230,40]
A.sort() # sort is a method which rearrange elements in increasing order in original list

In [194]:
A

[1, 40, 100, 230]

In [195]:
X=(1,2000,300,40,500,7000)
sorted(X)

[1, 40, 300, 500, 2000, 7000]

In [196]:
print(X)

(1, 2000, 300, 40, 500, 7000)

In [197]:
Y=[1,2000,300,40,500,7000]
Y.sort()

In [198]:
Y

[1, 40, 300, 500, 2000, 7000]

In [199]:
print(Y)

[1, 40, 300, 500, 2000, 7000]

In [200]:
sorted(Y)

[1, 40, 300, 500, 2000, 7000]

In [201]:
Y

[1, 40, 300, 500, 2000, 7000]

# Note
* Sorted is a function which can be applied on both list or tuple but it will not do any change sin original list or tuple
* sort : It is a method used only with list to re arrange elements into increasing or decreasing order and all the changes will be seen in original list.

In [202]:
X=(1,2000,300,40,500,7000)
sorted(X)

[1, 40, 300, 500, 2000, 7000]

In [203]:
X=(1,2000,300,40,500,7000)
sorted(X,reverse=True)

[7000, 2000, 500, 300, 40, 1]

# Note
If in case we need to do any changes to tuple(add,deleteing,changing) , convert tuple into list using list() function.

In [204]:
A =(10,20,30,40)
# add 50
# converted tuple to list
B = list(A)
print(B)

[10, 20, 30, 40]

In [205]:
# add 50
B.append(50)
print(B)

[10, 20, 30, 40, 50]

In [206]:
# convert list back into tuple
A = tuple(B)
print(A)

(10, 20, 30, 40, 50)

# Sets Methods
* Unordered
* Sets are Mutable , set elements are Immutable.
* No duplicates

In [207]:
A ={1,2,3,4}
print(A)

{1, 2, 3, 4}

In [208]:
B =set((10,20,30,40))
print(B)

{40, 10, 20, 30}

In [209]:
# Sets:set(),type,len,max,min,sum,sorted
B =set((10,20,30,40))
print(B)
print(type(B))
print(max(B))
print(min(B))
print(sum(B))

{40, 10, 20, 30}
<class 'set'>
40
10
100

In [210]:
A ={1000,10,1,20,300,40000}
sorted(A) #ascending

[1, 10, 20, 300, 1000, 40000]

In [211]:
A ={1000,10,1,20,300,40000}
sorted(A,reverse=True)#descending

[40000, 1000, 300, 20, 10, 1]

# Modify the set

# add
It is a method used with sets to add new element into set(at random position)

In [213]:
colors={'blue','green','orange'}
print(colors)
# add pink color
colors.add('pink')
print(colors)

{'blue', 'orange', 'green'}
{'blue', 'pink', 'orange', 'green'}

In [214]:
# add 1000 into colors
colors.add(1000)
print(colors)

{'pink', 'green', 1000, 'orange', 'blue'}

# remove
Used to remove specific element from set by its name

In [215]:
colors={'blue','green','orange'}
# remove green
colors.remove('green')
print(colors)

{'blue', 'orange'}

# Discard
Used to remove element by its name

In [216]:
colors={'blue','green','orange'}
# remove blue
colors.discard('blue')
print(colors)

{'orange', 'green'}

In [217]:
colors={'blue','green','orange'}
# remove pink
colors.remove('pink')

KeyError: 'pink'

In [218]:
colors.discard('pink')

# remove v/s discard
* Both are used to remove values by its name
* remove throws an error when an element is not found.
* Discard will not throw any error if something is not found.

# pop
It is used remove random element from a set

In [219]:
A ={100,200,300,400}
A.pop()

200

In [220]:
print(A)

{100, 400, 300}

# clear
removes all the elemnts

In [221]:
A ={100,200,300,400}
A.clear()
print(A)

set()

In [222]:
# copy of set
A ={1,2,3}
B = A.copy()
print(B)

{1, 2, 3}

# Union
It gives all the elements from both sets.

In [223]:
A ={1,2,3,4}
B={3,5,6,4}
A.union(B)

{1, 2, 3, 4, 5, 6}

In [224]:
A={1,2,3}
B={4,2,5}
C={7,8,2}
A.union(B,C)

{1, 2, 3, 4, 5, 7, 8}

In [225]:
A.union(B.union(C))

{1, 2, 3, 4, 5, 7, 8}

# Intersection
It gives common elements from both the sets.

In [226]:
A ={1,2,3,4}
B={3,5,6,4}
A.intersection(B)

{3, 4}

In [227]:
A={1,2,3}
B={4,2,5}
C={7,8,2}
A.intersection(B,C)

{2}

# DIFFERENCE

In [228]:
A ={1,2,3,4}
B={3,5,6,4}
# A-B
# All the elemnts of A which are not in B
A.difference(B)

{1, 2}

In [229]:
# B-A:All the elements of B which are not in A
B.difference(A)

{5, 6}

In [230]:
{1,2,3}|{3,4} #union

{1, 2, 3, 4}

In [231]:
{1,2,3}&{3,4} #Intersection

{3}

In [232]:
{1,2,3}-{3,4} # difference

{1, 2}

# dict

In [233]:
A ={'name':'John','Age':30,'job':'HR','company':'IBM'}
print(A)

{'name': 'John', 'Age': 30, 'job': 'HR', 'company': 'IBM'}

# keys
Used to get all the dictionary keys

In [234]:
A.keys()

dict_keys(['name', 'Age', 'job', 'company'])

# values
Used to get all the values of dictionary

In [235]:
A.values()

dict_values(['John', 30, 'HR', 'IBM'])

# Items
Used to get key-value pairs

In [236]:
A.items()

dict_items([('name', 'John'), ('Age', 30), ('job', 'HR'), ('company', 'IBM')])

# get
Used to find value of certain key

In [237]:
A.get('name')

'John'

In [238]:
A.get('Age')

30

In [239]:
A.get('place')

In [240]:
A

{'name': 'John', 'Age': 30, 'job': 'HR', 'company': 'IBM'}

# update
* Used to change value of a key
* Used to add new key-value pair

In [241]:
# change company name as 'Oracle'
A.update({'company':'Oracle'})
print(A)

{'name': 'John', 'Age': 30, 'job': 'HR', 'company': 'Oracle'}

In [242]:
# change age to 40
A.update({'Age':'40'})
print(A)

{'name': 'John', 'Age': '40', 'job': 'HR', 'company': 'Oracle'}

In [243]:
# add palce=Bangalore
A.update({'Place':'Bangalore'})
print(A)

{'name': 'John', 'Age': '40', 'job': 'HR', 'company': 'Oracle', 'Place': 'Bangalore'}

# setdefault
Used to add new key value pair

In [244]:
A

{'name': 'John',
 'Age': '40',
 'job': 'HR',
 'company': 'Oracle',
 'Place': 'Bangalore'}

In [245]:
# add salary = 70000
# A.setdefault(key,val)
# A.update({key:val})
A.setdefault('salary',70000)
print(A)

{'name': 'John', 'Age': '40', 'job': 'HR', 'company': 'Oracle', 'Place': 'Bangalore', 'salary': 70000}

# update v/s setdefault
* Update is used to add new key-value pair : It is used to update key value
* Set default is used to add new key-value pairs; USing this we cannot update keys

In [246]:
A.setdefault('salary',700000)
print(A)

{'name': 'John', 'Age': '40', 'job': 'HR', 'company': 'Oracle', 'Place': 'Bangalore', 'salary': 70000}

# deleting key-value pairs
* pop
* popitem
* clear

# pop
Used to remove key-value pair by giving key name.

In [247]:
A

{'name': 'John',
 'Age': '40',
 'job': 'HR',
 'company': 'Oracle',
 'Place': 'Bangalore',
 'salary': 70000}

In [248]:
# remove salary
A.pop('salary')
print(A)

{'name': 'John', 'Age': '40', 'job': 'HR', 'company': 'Oracle', 'Place': 'Bangalore'}

In [249]:
# remove job
A.pop('job')
print(A)

{'name': 'John', 'Age': '40', 'company': 'Oracle', 'Place': 'Bangalore'}

# popitem
Used to remove last element in a dict

In [250]:
A={'day1':'Mon','day2':'Tues','day3':'Wed'}
A

{'day1': 'Mon', 'day2': 'Tues', 'day3': 'Wed'}

In [251]:
A.popitem()
print(A)

{'day1': 'Mon', 'day2': 'Tues'}

In [252]:
A.popitem()
print(A)

{'day1': 'Mon'}

In [253]:
A.clear()

In [254]:
A

{}

# string Methods

In [255]:
A ='Life is crazy'
A

'Life is crazy'

In [256]:
# upper: Method Used to convert string into upper case
A.upper()

'LIFE IS CRAZY'

In [257]:
# lower : Method used to convert string into lower case
A.lower()

'life is crazy'

In [258]:
# capitalize : Method Used to convert first letter to upper cases
name ='jeevitha'
name.capitalize()

'Jeevitha'

In [259]:
# title : Each word first letter should be capital
B = 'times of india'
B.title()

'Times Of India'

In [260]:
# swapcase : It converts lower case to upper case and vice versa.
A ="python"
A.swapcase()

'PYTHON'

In [261]:
B ='PythoN'
B.swapcase()

'pYTHOn'

In [262]:
# count: It is used to find count of words or characters
A = "Python is easy only if we practice more python problems"
# find count of Python
A.count('Python')

1

In [263]:
# count of python irrespective of case
A = "Python is easy only if we practice more python problems"
A.lower().count('python')

2

In [264]:
A.upper().count('PYTHON')

2

In [265]:
# index: it gives index position of first character when we have repeated ones
A ="Python is easy"
# find index of i
A.index('i')

7

In [266]:
A ='one two one two'
# index of t
A.index('t')

4

In [267]:
# find: it gives index position of first character when we have repeated ones
A ="Python is easy"
# find index of i
A.find('i')

7

In [268]:
A ='one two one two'
# index of t
A.find('t')

4

# difefrence between index and find

In [269]:
A ="Python is easy"
# find index of z
A.find('z')

-1

In [270]:
A ="Python is easy"
# find index of z
A.index('z')

ValueError: substring not found

# Note
* similarity: Both find and index are used to find index values
* difference : Index gives error when character is not present ;
* but find doesn't give any error instead it gives -1

In [271]:
# replace : It is used to replace old value with new value
A = "Python is easy"
# replace python as Sql
# A.replace(old_val,new_val)
A.replace('Python','Sql')

'Sql is easy'


# split
Used to split string into list of substrings based on delimeter.

In [272]:
A = "Python is easy"
# ['Python','is','easy']
A.split() #Splitted based on space
# by default delimeter=space

['Python', 'is', 'easy']

In [273]:
B="one@two@three@four"
# ['One','two','three','four']
B.split('@')

['one', 'two', 'three', 'four']

In [274]:
C = "blue,orange,yellow,green"
#['blue','Orange','yellow','green']
C.split(',')

['blue', 'orange', 'yellow', 'green']

# Join
Method used convert list into a string

In [275]:
A =['Python','is','easy']
# convert the list into string
' '.join(A)

'Python is easy'

In [276]:
B =['Sql', 'is','easy','only','if','we','practice']
" ".join(B)

'Sql is easy only if we practice'

In [277]:
C =["one","two","three"]
# "one,two,three"
",".join(C)

'one,two,three'

In [278]:
D =['jeevitha','gmail.com']
# jeevitha@gmail.com
'@'.join(D)

'jeevitha@gmail.com'

In [279]:
D =('jeevitha','gmail.com')
# jeevitha@gmail.com
'@'.join(D)

'jeevitha@gmail.com'

In [280]:
D ={'jeevitha','gmail.com'}
# jeevitha@gmail.com
'@'.join(D)

'jeevitha@gmail.com'

# startswith , endswith
The startswith() and endswith() string methods can be used to check if a string starts or ends with a specific substring or character.

In [281]:
A ="python"
# check whether given string starts with p
A.startswith('p')

True

In [282]:
A.startswith('z')

False

In [283]:
# check whether given string endswith n
A.endswith('n')

True

In [284]:
# check whether given string endswith p
A.endswith('p')

False

# strip
Used to remove whitespaces or special characters before and after string

In [285]:
A ="           Python               "
print(A)

           Python

In [286]:
A.strip()

'Python'

In [287]:
B ='@@@@@@@@@@@@python@@@@@@@@@@@@@@@@'
B.strip('@')

'python'

In [288]:
B ='@@@@@@@@@@@@python@@@@@@@@@@@@@@@@'
# remove only left side
B.lstrip('@')

'python@@@@@@@@@@@@@@@@'

In [289]:
B ='@@@@@@@@@@@@python@@@@@@@@@@@@@@@@'
# remove only right side
B.rstrip('@')

'@@@@@@@@@@@@python'

In [290]:
C = '(2024)'
C.strip('()')

'2024'

In [291]:
D = '**********@@@@@@@@Python is easy%%%%%%%%%%%$$$$$$$$$$'
D.strip('*@%$')

'Python is easy'

In [292]:
list(enumerate(D))

[(0, '*'),
 (1, '*'),
 (2, '*'),
 (3, '*'),
 (4, '*'),
 (5, '*'),
 (6, '*'),
 (7, '*'),
 (8, '*'),
 (9, '*'),
 (10, '@'),
 (11, '@'),
 (12, '@'),
 (13, '@'),
 (14, '@'),
 (15, '@'),
 (16, '@'),
 (17, '@'),
 (18, 'P'),
 (19, 'y'),
 (20, 't'),
 (21, 'h'),
 (22, 'o'),
 (23, 'n'),
 (24, ' '),
 (25, 'i'),
 (26, 's'),
 (27, ' '),
 (28, 'e'),
 (29, 'a'),
 (30, 's'),
 (31, 'y'),
 (32, '%'),
 (33, '%'),
 (34, '%'),
 (35, '%'),
 (36, '%'),
 (37, '%'),
 (38, '%'),
 (39, '%'),
 (40, '%'),
 (41, '%'),
 (42, '%'),
 (43, '$'),
 (44, '$'),
 (45, '$'),
 (46, '$'),
 (47, '$'),
 (48, '$'),
 (49, '$'),
 (50, '$'),
 (51, '$'),
 (52, '$')]

In [293]:
D[18:32]

'Python is easy'

# format

In [294]:
# combine strings
a ="Hello"
b = "everyone"
print(a + b) #combining without space
print(a+" " +b) # combined by giving space
print(a+'!'+b) # combine by giving !

Helloeveryone
Hello everyone
Hello!everyone

In [295]:
a ="one"
b="two"
c='three'
# one,two,three
print(a+b+c)
print(a+','+b+','+c)

onetwothree
one,two,three

In [296]:
A ="hello"
print(A*2)

hellohello

In [297]:
'a'*10

'aaaaaaaaaa'

In [298]:
'ab '*10

'ab ab ab ab ab ab ab ab ab ab '

In [299]:
A=[1,2,3]
B=[5,6,7]
print(A+B)

[1, 2, 3, 5, 6, 7]

In [300]:
A=[1,2,3]
A*4

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [301]:
x =(1,2,3)
y=(4,3,5)
print(x+y)

(1, 2, 3, 4, 3, 5)

In [302]:
x =(1,2,3)
x*2

(1, 2, 3, 1, 2, 3)

In [303]:
A= 10
B="apples"
# 10 apples
print(A,B)

10 apples

In [304]:
a = int(input())
b = int(input())
c=a+b
# sum of a and b is a+b
print(f"sum of {a} and {b} is {c}")

sum of 10 and 20 is 30

In [305]:
name=input()
age=int(input())
# My name is Jeevitha and I'm 30 year old
print(f"My name is {name} and I'm {age} year old")

My name is vivek and I'm 25 year old

In [306]:
a = 10
b = 20
c=a+b
print(f"sum of {a} and {b} is {c}")

sum of 10 and 20 is 30

In [307]:
a = 10
b = 20
c=a+b
print("sum of {} and {} is {}".format(a,b,c))

sum of 10 and 20 is 30

In [308]:
A = 10
B = 20
# In a basket there are 10 apples and 20 oranges
print("In a basket there are {} apples and {} oranges".format(A,B))

In a basket there are 10 apples and 20 oranges

In [309]:
print(f"In a basket there are {A} apples and {B} oranges")

In a basket there are 10 apples and 20 oranges

In [310]:
A ="Python is easy"
A.split().count('is')

1

In [311]:
A.split()

['Python', 'is', 'easy']

In [312]:
set_a = {10}
se_b ={20}
print(set_a | se_b)

{10, 20}

# split

Used to split string into list of substrings based on delimeter.

In [1]:
A = "python is easy only if we practice more python problems"
# ['python', 'is', 'easy', 'only', 'if', 'we', 'practice', 'more', 'python', 'problems']
A.split() # Splitted based on space
# by default delimeter=space

['python',
 'is',
 'easy',
 'only',
 'if',
 'we',
 'practice',
 'more',
 'python',
 'problems']

In [ ]:
B = "one@two@three@four"
# ['one','two','three','four']
B.split('@') # here delimeter is @

['one', 'two', 'three', 'four']

In [3]:
c = "blue,orange,yellow,green"
c.split(',') # here delimeter is ,

['blue', 'orange', 'yellow', 'green']

In [6]:
c = "monday@tuesday*wednesday+thursday"
c.split('@') # here delimeter is @

['monday', 'tuesday*wednesday+thursday']

# join
join method is used to convert list in to  string.

In [7]:
A = ['python', 'is', 'easy', 'only', 'if', 'we', 'practice', 'more', 'python', 'problems']
#convert list in to string
' '.join(A)

'python is easy only if we practice more python problems'

In [9]:
B = ['sql', 'is','easy','only','if','we','practice']
B = ' '.join(B)
print(B)

sql is easy only if we practice

In [10]:
C = ['one','two','three','four']
" ".join(C)

'one two three four'

In [12]:
",".join(C)

'one,two,three,four'

In [ ]:
D = ['iitvivek','roper','@gmail.com'] # list to string
"".join(D)

'iitvivekroper@gmail.com'

In [14]:
# tuple to string
E = ('iitvivek','roper','@gmail.com')
"".join(E)

'iitvivekroper@gmail.com'

In [16]:
# dictionary to string is not possible
F = {'name': 'iitvivek', 'domain': 'gmail.com'}
# "".join(F)
"".join(F)

'namedomain'

In [24]:
f = {'jeevitha','gmail.com'}
# "".join(f)
"@".join(f)

'gmail.com@jeevitha'

# startswith, endswith
The startwith() endwith() string methods can be used to check if a string start or ends with a specific substring or characther.

In [25]:
A = "python"
# check whether given string starts with p
A.startswith('p')

True

In [26]:
A.startswith('z')

False

In [ ]:
# check whether given string endswith n
A.endswith('n')

True

In [28]:
# check whether given string endswith p
A.endswith('p')

False

# strip

used to remove whitespaces or special characgters before and after string.

In [30]:
A = "                 python                "
A.strip()

'python'

In [31]:
B = "@@@@@@@@@@@@python@@@@@@@@@@@@@@@@"
B.strip("@")

'python'

In [35]:
# remove only right side
B.lstrip("@")

'python@@@@@@@@@@@@@@@@'

In [34]:
# remove only right side
B.rstrip("@")

'@@@@@@@@@@@@python'

In [36]:
c = '(2024)'
c.strip("()")

'2024'

In [37]:
D = '**********@@@@@@@@Python is easy%%%%%%%%%%%$$$$$$$$$$'
D.lstrip('*@')

'Python is easy%%%%%%%%%%%$$$$$$$$$$'

In [38]:
D.rstrip('%$')

'**********@@@@@@@@Python is easy'

In [39]:
D.strip('*@%$')

'Python is easy'

In [40]:
list(enumerate(D))

[(0, '*'),
 (1, '*'),
 (2, '*'),
 (3, '*'),
 (4, '*'),
 (5, '*'),
 (6, '*'),
 (7, '*'),
 (8, '*'),
 (9, '*'),
 (10, '@'),
 (11, '@'),
 (12, '@'),
 (13, '@'),
 (14, '@'),
 (15, '@'),
 (16, '@'),
 (17, '@'),
 (18, 'P'),
 (19, 'y'),
 (20, 't'),
 (21, 'h'),
 (22, 'o'),
 (23, 'n'),
 (24, ' '),
 (25, 'i'),
 (26, 's'),
 (27, ' '),
 (28, 'e'),
 (29, 'a'),
 (30, 's'),
 (31, 'y'),
 (32, '%'),
 (33, '%'),
 (34, '%'),
 (35, '%'),
 (36, '%'),
 (37, '%'),
 (38, '%'),
 (39, '%'),
 (40, '%'),
 (41, '%'),
 (42, '%'),
 (43, '$'),
 (44, '$'),
 (45, '$'),
 (46, '$'),
 (47, '$'),
 (48, '$'),
 (49, '$'),
 (50, '$'),
 (51, '$'),
 (52, '$')]